header {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 5rem;
    padding: 0 2%;
    box-sizing: border-box;

    background-color: var(--white);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.67);
    z-index: 400 !important;

}



.logoContainer {
    display: flex;
    cursor: pointer;

}

.navigationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;


}

.navigationLinks {
    position: relative;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;

    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}

.navigationLinks:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);

    width: 9rem;
    height: 3rem;

    border-radius: 6px;
    background-color: var(--blue-700);
}


.navigationLinks:hover {
    transition: 0.1s;
    color: var(--blue-700);
}

.navigationLinks:last-child:hover {
    transition: 0.1s;
    color: var(--white);
    background-color: var(--blue-300);
}

.navigationLinks.active {
    color: var(--blue-700);
  }

