header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: auto;
    height: 5rem;

    background-color: var(--white);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.67);
    z-index: 400!important;

}



.logoContainer {
    display: flex;
    padding-left: 1.4rem;
    
}

.buttonsContainer {
    display: flex;
    gap: 3rem;
    padding-right: 1.4rem;
}

.buttons {
    position: relative;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;

    color: var(--black);
    background: none;
    border: none;
    cursor: pointer;
}

.buttons:last-child {
    color: var(--white);

    width: 9rem;
    height: 3rem;

    border-radius: 6px;
    background-color: var(--blue);
}


.buttons:hover {
    transition: 0.1s;
    color: var(--blue);
}

.buttons:last-child:hover {
    transition: 0.1s;
    color: var(--white);
    background-color: var(--blue-300);
}