:root {
    --white: #FFFFFF;

    --black: #000000;
    --black-300: rgb(70, 70, 70);
    --black-500: #252525;
    --gray-500: #5C5C5C;
    --gray-300: #F4F4F4;
    --blue-100: #E8F4FA;
    --blue-300: #12a5e9;
    --blue-700: #1090CB;
}

* {
    margin: 0;
    padding: 0;


}